Package: me.conorthedev.peep
Name: peep
Depends: mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Hide and show your status bar with one tap!
Maintainer: ConorTheDev <support@conorthedev.me>
Author: ConorTheDev <support@conorthedev.me>
Section: Tweaks
