<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.conorthedev.peep.prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>me.conorthedev.peep.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.conorthedev.peep.prefs</string>
			<key>key</key>
			<string>animations</string>
			<key>label</key>
			<string>Use Animations</string>
			<key>PostNotification</key>
			<string>me.conorthedev.peep.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSButtonCell</string>
			<key>action</key> 					
			<string>donate</string>
			<key>label</key> 					
			<string>💵 Support me</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSButtonCell</string>
			<key>action</key> 					
			<string>code</string>
			<key>label</key> 					
			<string>💻 View source code</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSButtonCell</string>
			<key>action</key> 					
			<string>bug</string>
			<key>label</key> 					
			<string>🐛 Report a Bug</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSGroupCell</string>
			<key>footerText</key> 				
			<string>Made with ❤️ by ConorTheDev</string>
			<key>footerAlignment</key> 			
			<string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string>peep</string>
</dict>
</plist>
